.container{
    margin-top: 120px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    width: 270px;
    min-width: 270px;
    border: 3px black solid;
}

.card:hover{
    box-shadow: white 0px 0px 20px;
}

.card img{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.card p{
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}